<h1>マイページ</h1>

<table>
  <tr>
    <th>登録情報</th>
    <td><%= link_to "編集する", mypage_edit_path %></td>
  </tr>
</table>

<table border = "1">
  <tr>
    <th>氏名</th>
    <td><%= @customer.first_name %>　<%= @customer.last_name %></td>
  </tr>
  
  <tr>
    <th>カナ</th>
    <td><%= @customer.first_name_kana %>　<%= @customer.last_name_kana %></td>
  </tr>
  
  <tr>
    <th>郵便番号</th>
    <td><%= @customer.postcode %></td>
  </tr>
  
  <tr>
    <th>住所</th>
    <td><%= @customer.address %></td>
  </tr>
  
  <tr>
    <th>電話番号</th>
    <td><%= @customer.phone_number %></td>
  </tr>
  
  <tr>
    <th>メールアドレス</th>
    <td><%= @customer.email %></td>
  </tr>
  
</table>

<table>
  <tr>
    <th>配送先</th>
    <td><%= link_to "一覧を見る", addresses_path %></td>
  </tr>
  <tr>
    <th>注文履歴</th>
    <td>一覧を見る</td>
  </tr>
</table>