<h1>商品一覧</h1>
<div style = "border: 2px solid; width:250px; margin-bottom: 20px;">
  <h2>ジャンル検索</h2>
  <ul>
    <% @genres.each do |genre| %>
      <li><%= link_to genre.name, items_path(genre_id: genre.id) %></li>
    <% end %>
  </ul>
</div>

<div style = "display:flex; flex-wrap: wrap;">
  <% @items.each do |item| %>
    <%= link_to item_path(item.id) do %>
      <div>
        <%= image_tag item.image, size: "300x300" %>
        <h2><%= item.name %></h2>
        <h2>¥<%= item.add_tax.to_s(:dalimited) %></h2>
      </div>
    <% end %>
  <% end %>
</div>
