<h1>ジャンル一覧・追加</h1>

<%= form_with model: @genre, url: '/admin/genres' do |f| %>
  <table>
    <tr>
      <td><%= f.label :name, "ジャンル名" %></td>
      <td><%= f.text_field :name %></td>
      <td><%= f.submit "新規登録" %></td>
    <tr>
  </table>
<% end %>

<table border = "1">
  <thead>
    <tr>
      <th>ジャンル</th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
    <% @genres.each do |genre| %>
      <tr>
        <td><%= genre.name%></td>
        <td><%= link_to "編集する", edit_admin_genre_path(genre.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>