<div class="row">
  <div class="col-lg-10 offset-lg-1">
    <h4 class="d-inline-block bg-light px-3 py-2 mb-5">新規会員登録</h4>

    <%= render "public/shared/error_messages", resource: resource %>

    <%= form_with model: @customer, url: customer_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <div class="form-group row">
        <div class="col-12 col-md-3 col-form-label">
          名前
        </div>
        <div class="col-3 col-md-1">
          <%= f.label :last_name, "(姓)", class: "col-form-label" %>
        </div>
        <div class="col-9 col-md-3">
          <%= f.text_field :last_name, class: "form-control", placeholder: "令和" %>
        </div>
        <div class="col-3 col-md-1">
          <%= f.label :first_name, "(名)", class: "col-form-label" %>
        </div>
        <div class="col-9 col-md-3">
          <%= f.text_field :first_name, class: "form-control", placeholder: "道子" %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-12 col-md-3 col-form-label">
          フリガナ
        </div>
        <div class="col-3 col-md-1">
          <%= f.label :last_name_kana, "(セイ)", class: "col-form-label" %>
        </div>
        <div class="col-9 col-md-3">
          <%= f.text_field :last_name_kana, class: "form-control", placeholder: "レイワ" %>
        </div>
        <div class="col-3 col-md-1">
          <%= f.label :first_name_kana, "(メイ)", class: "col-form-label" %>
        </div>
        <div class="col-9 col-md-3">
          <%= f.text_field :first_name_kana, class: "form-control", placeholder: "ミチコ" %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-12 col-md-3">
          <%= f.label :email, "メールアドレス", class: "col-form-label" %>
        </div>
        <div class="col-12 col-md-3 offset-md-1">
          <%= f.email_field :email, class: "form-control", placeholder: "sample@example.com" %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-12 col-md-3">
          <%= f.label :postal_code, "郵便番号 (ハイフンなし)", class: "col-form-label" %>
        </div>
        <div class="col-12 col-md-3 offset-md-1">
          <%= f.text_field :postal_code, class: "form-control", placeholder: "0000000" %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-12 col-md-3">
          <%= f.label :address, "住所", class: "col-form-label" %>
        </div>
        <div class="col-12 col-md-7 offset-md-1">
          <%= f.text_field :address, class: "form-control", placeholder: "東京都渋谷区代々木神園町0-0" %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-12 col-md-3">
          <%= f.label :telephone_number, "電話番号 (ハイフンなし)", class: "col-form-label" %>
        </div>
        <div class="col-12 col-md-3 offset-md-1">
          <%= f.text_field :telephone_number, class: "form-control", placeholder: "00000000000" %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-12 col-md-3">
          <%= f.label :password, "パスワード", class: "col-form-label" %>
          <% if @minimum_password_length %>
            (<%= @minimum_password_length %> 文字以上)
          <% end %>
        </div>
        <div class="col-12 col-md-3 offset-md-1">
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-12 col-md-3">
          <%= f.label :password_confirmation, "パスワード (確認用)", class: "col-form-label" %>
        </div>
        <div class="col-12 col-md-3 offset-md-1">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-12 col-md-3 offset-md-4 mt-4">
          <%= f.submit "新規登録", class: "btn btn-success w-100" %>
        </div>
      </div>
    <% end %>

    <h4 class="d-inline-block bg-light px-3 py-2">すでに登録済みの方</h4>
    <div class="py-3 pl-3">
      <%= link_to "こちら", new_customer_session_path %>からログインしてください。
    </div>
  </div>
</div>
